# ===========================
# PYTHON / FASTAPI BACKEND
# ===========================

# Entornos virtuales
venv/
env/
ENV/
.venv/

# Compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de cache
*.cache
*.log
*.temp
*.tmp

# Configuraciones de editor
.vscode/
.idea/
*.swp

# Archivos creados por Jupyter o Kaggle
.ipynb_checkpoints/

# ===========================
# MODELO / DATA
# ===========================

# Pesos del modelo (opcional)
# Si NO quieres subir tus pesos entrenados, deja descomentado:
model/*.npz
model/*.h5
model/*.pt
model/*.pkl

# Si quieres subir los pesos a GitHub, borra la línea de arriba

# Dataset grande
data/*.csv
data/*.zip
data/*.npy

# ===========================
# UBICORN / FASTAPI / RENDER
# ===========================

# Archivos temporales del servidor
*.pid

# ===========================
# SISTEMA Y MISC
# ===========================

# Linux / Mac / Windows
.DS_Store
Thumbs.db

# Archivos temporales de compilación
dist/
build/